<!DOCTYPE html>
<html>
<head>
    <title>HTML5</title>
        
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=650, user-scalable=yes">
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script src="/plugins/jQuery/jquery-2.2.3.min.js"></script>

        
    <style>
        html, body {
            height: 100%;
            margin: 0;
        }

        #interactive-1 {
            height: 100%;
        }
    </style>

        
    <script>
        var geoJsonObject;
        var thejson;
        $(document).ready(function () {
            var styles =
                    [
                        {
                            "elementType": "geometry",
                            "stylers": [
                                {
                                    "color": "#212121"
                                }
                            ]
                        },
                        {
                            "elementType": "labels.icon",
                            "stylers": [
                                {
                                    "visibility": "off"
                                }
                            ]
                        },
                        {
                            "elementType": "labels.text.fill",
                            "stylers": [
                                {
                                    "color": "#757575"
                                }
                            ]
                        },
                        {
                            "elementType": "labels.text.stroke",
                            "stylers": [
                                {
                                    "color": "#212121"
                                }
                            ]
                        },
                        {
                            "featureType": "administrative",
                            "elementType": "geometry",
                            "stylers": [
                                {
                                    "color": "#757575"
                                }
                            ]
                        },
                        {
                            "featureType": "administrative.country",
                            "elementType": "labels.text.fill",
                            "stylers": [
                                {
                                    "color": "#9e9e9e"
                                }
                            ]
                        },
                        {
                            "featureType": "administrative.land_parcel",
                            "stylers": [
                                {
                                    "visibility": "off"
                                }
                            ]
                        },
                        {
                            "featureType": "administrative.locality",
                            "elementType": "labels.text.fill",
                            "stylers": [
                                {
                                    "color": "#bdbdbd"
                                }
                            ]
                        },
                        {
                            "featureType": "poi",
                            "elementType": "labels.text.fill",
                            "stylers": [
                                {
                                    "color": "#757575"
                                }
                            ]
                        },
                        {
                            "featureType": "poi.park",
                            "elementType": "geometry",
                            "stylers": [
                                {
                                    "color": "#181818"
                                }
                            ]
                        },
                        {
                            "featureType": "poi.park",
                            "elementType": "labels.text.fill",
                            "stylers": [
                                {
                                    "color": "#616161"
                                }
                            ]
                        },
                        {
                            "featureType": "poi.park",
                            "elementType": "labels.text.stroke",
                            "stylers": [
                                {
                                    "color": "#1b1b1b"
                                }
                            ]
                        },
                        {
                            "featureType": "road",
                            "elementType": "geometry.fill",
                            "stylers": [
                                {
                                    "color": "#2c2c2c"
                                }
                            ]
                        },
                        {
                            "featureType": "road",
                            "elementType": "labels.text.fill",
                            "stylers": [
                                {
                                    "color": "#8a8a8a"
                                }
                            ]
                        },
                        {
                            "featureType": "road.arterial",
                            "elementType": "geometry",
                            "stylers": [
                                {
                                    "color": "#373737"
                                }
                            ]
                        },
                        {
                            "featureType": "road.highway",
                            "elementType": "geometry",
                            "stylers": [
                                {
                                    "color": "#3c3c3c"
                                }
                            ]
                        },
                        {
                            "featureType": "road.highway.controlled_access",
                            "elementType": "geometry",
                            "stylers": [
                                {
                                    "color": "#4e4e4e"
                                }
                            ]
                        },
                        {
                            "featureType": "road.local",
                            "elementType": "labels.text.fill",
                            "stylers": [
                                {
                                    "color": "#616161"
                                }
                            ]
                        },
                        {
                            "featureType": "transit",
                            "elementType": "labels.text.fill",
                            "stylers": [
                                {
                                    "color": "#757575"
                                }
                            ]
                        },
                        {
                            "featureType": "water",
                            "elementType": "geometry",
                            "stylers": [
                                {
                                    "color": "#000000"
                                }
                            ]
                        },
                        {
                            "featureType": "water",
                            "elementType": "labels.text.fill",
                            "stylers": [
                                {
                                    "color": "#3d3d3d"
                                }
                            ]
                        }
                    ]
//             Create a new StyledMapType object, passing it the array of styles,
//             as well as the name to be displayed on the map type control.
            var styledMap = new google.maps.StyledMapType(styles,
                    {name: "Styled Map"});
            var mapOptions = {
                zoom: 8,
                center: new google.maps.LatLng(23.857883, 120.978975)
            };
            infoWindow = new google.maps.InfoWindow({
                content: ""
            });
            map = new google.maps.Map($('#interactive-1')[0], mapOptions);
            //county.json is a topojson file

            //Associate the styled map with the MapTypeId and set it to display.
            map.mapTypes.set('map_style', styledMap);
            map.setMapTypeId('map_style');

            //Initialize 2 variable that will take layers
            var countyLayer = new google.maps.Data();
            var stateLayer = new google.maps.Data();

            //load the GeoJson files for each layer.
            countyLayer.loadGeoJson('city.json');
            stateLayer.loadGeoJson('tw.json');
            //set the style for each layer.
            countyLayer.setStyle({
                strokeColor: 'red',
                strokeWeight: 3
            });
            stateLayer.setStyle({
                strokeColor: 'yellow',
                strokeOpacity: 0.3,
                strokeWeight: 1
            });
            countyLayer.setMap(map);

            // Color each letter gray. Change the color when the isColorful property
            // is set to true.
//            map.data.setStyle(function (feature) {
//                var color = '#0282c2';
//                if (feature.getProperty('isColorful')) {
//                    feature.setProperty('color', '#2c2b4c');
//                    color = feature.getProperty('color');
//                    feature.setProperty('zIndex', 1000);
//                }
//                return /** @type {google.maps.Data.StyleOptions} */({
//                    fillColor: color,
//                    strokeColor: color,
//                    strokeWeight: 2,
//                    draggable: true
//                });
//            });


            // Set and apply styling to the stateLayer
            stateLayer.setStyle(function(feature) {
                return {
                    fillColor: getColor(feature.getProperty('COLI')), // call function to get color for state based on the COLI (Cost of Living Index)
                    fillOpacity: 1,
                    strokeColor: '#b3b3b3',
                    strokeWeight: 1,
                    zIndex: 1
                };
            });
            // returns a color based on the value given when the function is called
            function getColor(coli) {
                return coli >= 121 ? '#89a844' :
                    coli > 110 ? '#acd033' :
                        coli > 102.5 ? '#cbd97c' :
                            coli > 100 ? '#c2c083' :
                                '#d1ccad';
            }

            // When the user clicks, set 'isColorful', changing the color of the letters.
            map.data.addListener('click', function (event) {
                if (event.feature.getProperty('isColorful')) {
                    event.feature.setProperty('isColorful', false);
                } else {
                    event.feature.setProperty('isColorful', true);
                }
            });

            // When the user hovers, tempt them to click by outlining the letters.
            // Call revertStyle() to remove all overrides. This will use the style rules
            // defined in the function passed to setStyle()
            map.data.addListener('mouseover', function (event) {
                map.data.revertStyle();
                map.data.overrideStyle(event.feature, {strokeWeight: 7});
            });

            map.data.addListener('mouseout', function (event) {
                map.data.revertStyle();
            });

            //set the layer to the map

            $('button.county').on('click', function () {
                stateLayer.setMap(null);
                countyLayer.setMap(map);
            })
            $('button.state').on('click', function () {
                countyLayer.setMap(null);
                stateLayer.setMap(map);
            })
        });//end document ready
    </script>

</head>
<body>
<button class="county">縣市</button>
<button class="state">鄉鎮</button>
    <section class="interactive-points" id="interactive-1">
    </section>


</body>


</html>