
<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar skin-blue">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- search form -->
        <!--<form action="#" method="get" class="sidebar-form">-->
            <!--<div class="input-group">-->
                <!--<input type="text" name="q" class="form-control" placeholder="搜尋...">-->
                <!--<span class="input-group-btn">-->
                <!--<button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>-->
                <!--</button>-->
              <!--</span>-->
            <!--</div>-->
        <!--</form>-->
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <!--<li class="header">功能列</li>-->
            <li class="active treeview">
                <a href="#">
                    <i class="fa fa-object-group"></i> <span>農場</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="active"><a href="/farm/"><i class="fa fa-circle-o"></i>農場列表</a></li>

                    <li><a href="/farm/sensorRecord"><i class="fa fa-circle-o"></i>環控統計</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-dashboard"></i> <span>設備</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="active"><a href="/equipment/"><i class="fa fa-circle-o"></i>設備列表</a></li>
                </ul>
            </li>
            <li class="treeview">
            <a href="/farm/abnormal">
            <i class="fa fa-calendar-check-o"></i> <span>示警</span>
            <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
            </span>
            </a>
                <ul class="treeview-menu">
                    <li class="active"><a href="/abnormal/"><i class="fa fa-circle-o"></i>示警紀錄</a></li>
                </ul>
            </li>
            <!--<li class="treeview">-->
                <!--<a href="/calendar">-->
                    <!--<i class="fa fa-calendar-check-o"></i> <span>行事曆</span>-->
                    <!--<span class="pull-right-container">-->
                        <!--<i class="fa fa-angle-left pull-right"></i>-->
                    <!--</span>-->
                <!--</a>-->
            <!--</li>-->




        </ul>
    </section>
    <!-- /.sidebar -->
</aside>