<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href='http://fonts.googleapis.com/css?family=Asap:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Signika' rel='stylesheet' type='text/css'>
    <!-- jQuery 2.2.3 -->
    <script src="/plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="/plugins/tweenmax/TweenLite.js"></script>
    <script src="/plugins/tweenmax/TweenMax.js"></script>
    <title>Title</title>


</head>
<body>
<div id="demo">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="481px" height="381px"
         viewBox="0 0 481 381" version="1.1">
        <#comment/>
        <title>
            openapi
        </title>
        <desc>
            Created with Sketch.
        </desc>
        <defs/>
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="openapi">
                <g id="plant" transform="translate(0.000000, 22.670782)">
                    <path d="M481 357.934548L0 357.934548 0 103.646105 240.5 0.341172105 481 103.646105 481 357.934548Z"
                          id="Shape" fill="#368CD6"/>
                    <path d="M33.1720898 357.934548L447.82791 357.934548 447.82791 326.14793 33.1720898 326.14793 33.1720898 357.934548Z"
                          id="Shape" fill="#9E5A23"/>
                    <g id="Group" transform="translate(103.135838, 252.976820)"/>
                    <g id="Group" transform="translate(24.425781, 216.357478)"/>
                    <g class="plant" id="plant1" transform="translate(24.000000, 205.000000)">
                        <path d="M35.6240277 128.985887C33.2072824 128.985887 31.2538869 126.994817 31.2538869 124.531461L31.2538869 5.3145084C31.2538869 2.85569345 33.2072824 0.860082305 35.6240277 0.860082305 38.0407729 0.860082305 39.9941684 2.85569345 39.9941684 5.3145084L39.9941684 124.531461C39.9941684 126.994817 38.0407729 128.985887 35.6240277 128.985887"
                              id="Shape" fill="#4CAF50"/>
                        <path class="leafR"  d="M35.6240277 73.0669954C35.6240277 59.3190118 51.2596072 48.1951759 70.5836687 48.1951759 70.5836687 61.9431594 54.9480892 73.0669954 35.6240277 73.0669954"
                              id="Shape" fill="#81C784"/>
                        <path class="leafR"  d="M35.6240277 110.374549C35.6240277 96.626565 51.2596072 85.5027291 70.5836687 85.5027291 70.5836687 99.2507126 54.9480892 110.374549 35.6240277 110.374549"
                              id="Shape" fill="#81C784"/>
                        <path class="leafL"  d="M0.664881612 66.8491286C19.9889431 66.8491286 35.6245227 77.9729645 35.6245227 91.7209481 16.3004612 91.7209481 0.664881612 80.5971121 0.664881612 66.8491286"
                              id="Shape" fill="#81C784"/>
                        <path class="leafL"  d="M71.015052 11.3574782C71.015052 25.1054617 55.3794724 36.2292977 36.0554109 36.2292977 36.0554109 22.4813142 51.6909904 11.3574782 71.015052 11.3574782Z"
                              id="Shape" fill="#81C784"/>
                        <path class="leafL"  d="M0.42578125 30.1620049C19.7498428 30.1620049 35.3854223 41.2858409 35.3854223 55.0338245 16.0613608 55.0338245 0.42578125 43.9099885 0.42578125 30.1620049"
                              id="Shape" fill="#81C784"/>
                    </g>
                    <g class="plant" id="plant2" transform="translate(103.000000, 244.000000)">
                        <path d="M35.2830963 89.9858866C32.866351 89.9858866 30.9129555 88.5961555 30.9129555 86.8767771L30.9129555 3.66548304C30.9129555 1.94927431 32.866351 0.556373528 35.2830963 0.556373528 37.6998416 0.556373528 39.6532371 1.94927431 39.6532371 3.66548304L39.6532371 86.8767771C39.6532371 88.5961555 37.6998416 89.9858866 35.2830963 89.9858866"
                              id="plantd" fill="#4CAF50"/>
                        <path class="leafR" d="M35.2830963 34.0669954C35.2830963 20.3190118 50.9186759 9.19517588 70.2427374 9.19517588 70.2427374 22.9431594 54.6071578 34.0669954 35.2830963 34.0669954"
                              id="Shape" fill="#81C784"/>
                        <path class="leafR" d="M35.2830963 71.3745486C35.2830963 57.626565 50.9186759 46.5027291 70.2427374 46.5027291 70.2427374 60.2507126 54.6071578 71.3745486 35.2830963 71.3745486"
                              id="Shape" fill="#81C784"/>
                        <path class="leafL" d="M0.323455239 27.8491286C19.6475168 27.8491286 35.2830963 38.9729645 35.2830963 52.7209481 15.9590348 52.7209481 0.323455239 41.5971121 0.323455239 27.8491286"
                              id="Shape" fill="#81C784"/>
                    </g>
                    <g class="plant" id="plant3" transform="translate(181.845895, 243.976820)">
                        <path d="M35.0962699 90.0090669C32.6795246 90.0090669 30.7261291 88.6193358 30.7261291 86.8999573L30.7261291 3.68866328C30.7261291 1.97245456 32.6795246 0.579553775 35.0962699 0.579553775 37.5130151 0.579553775 39.4664106 1.97245456 39.4664106 3.68866328L39.4664106 86.8999573C39.4659156 88.6193358 37.5125201 90.0090669 35.0962699 90.0090669"
                              id="Shape" fill="#4CAF50"/>
                        <path class="leafR" d="M35.0962699 34.0901756C35.0962699 20.3421921 50.7318494 9.21835613 70.0559109 9.21835613 70.0554159 22.9663397 54.4198363 34.0901756 35.0962699 34.0901756"
                              id="Shape" fill="#81C784"/>
                        <path class="leafR" d="M35.0962699 71.3977288C35.0962699 57.6497453 50.7318494 46.5259093 70.0559109 46.5259093 70.0554159 60.2738929 54.4198363 71.3977288 35.0962699 71.3977288"
                              id="Shape" fill="#81C784"/>
                        <path class="leafL" d="M0.136628778 27.8723088C19.4606903 27.8723088 35.0962699 38.9961448 35.0962699 52.7441283 15.7722083 52.7441283 0.136628778 41.6202924 0.136628778 27.8723088"
                              id="Shape" fill="#81C784"/>
                    </g>
                </g>
                <g id="thermometer" transform="translate(264.000000, 172.000000)">
                    <path d="M61.1436529 31.8013579L48.9472897 31.8013579C47.2611925 31.8013579 45.8981175 32.8973078 45.8981175 34.2477167 45.8981175 35.6004768 47.2611925 36.6940754 48.9472897 36.6940754L61.1436529 36.6940754C62.8297501 36.6940754 64.1928252 35.6004768 64.1928252 34.2477167 64.1924995 32.8999203 62.8300757 31.8013579 61.1436529 31.8013579L61.1436529 31.8013579Z"
                          id="Path" fill="#FFFFFF"/>
                    <path d="M61.1436529 22.0164453L48.9472897 22.0164453C47.2611925 22.0164453 45.8981175 23.1123952 45.8981175 24.462804 45.8981175 25.8155642 47.2611925 26.9091628 48.9472897 26.9091628L61.1436529 26.9091628C62.8297501 26.9091628 64.1928252 25.8155642 64.1928252 24.462804 64.1924995 23.1147465 62.8300757 22.0164453 61.1436529 22.0164453L61.1436529 22.0164453Z"
                          id="Path" fill="#FFFFFF"/>
                    <path d="M48.9472897 17.1237277L61.1436529 17.1237277C62.8297501 17.1237277 64.1928252 16.030129 64.1928252 14.6773689 64.1928252 13.3246088 62.8297501 12.2310101 61.1436529 12.2310101L48.9472897 12.2310101C47.2611925 12.2310101 45.8981175 13.3246088 45.8981175 14.6773689 45.8981175 16.030129 47.2611925 17.1237277 48.9472897 17.1237277L48.9472897 17.1237277Z"
                          id="Path" fill="#FFFFFF"/>
                    <path d="M39.8004243 12.2312714C39.8004243 5.4771371 32.976257 0 24.5548888 0 16.1335206 0 9.30967896 5.4771371 9.30967896 12.2312714L9.30967896 43.4479485C3.73917606 47.0344087 0.162487926 52.5334909 0.162487926 58.7102595 0.162487926 69.5179716 11.0843467 78.280346 24.5548888 78.280346 38.0254309 78.280346 48.9472897 69.5177103 48.9472897 58.7102595 48.9472897 52.5358422 45.3712528 47.0344087 39.8004243 43.4482097L39.8004243 12.2312714Z"
                          id="Shape" fill="#546A79"/>
                    <path d="M33.7020798 46.0142217L33.7020798 12.2312714C33.7020798 8.17769356 29.6040627 4.89245631 24.5548888 4.89245631 19.5057149 4.89245631 15.4076978 8.17795482 15.4076978 12.2312714L15.4076978 46.0142217C9.94693121 48.5533248 6.26050674 53.2819764 6.26050674 58.7102595 6.26050674 66.8148026 14.4532847 73.3878896 24.5548888 73.3878896 34.6564929 73.3878896 42.8492709 66.8148026 42.8492709 58.7102595 42.8492709 53.2819764 39.1661027 48.5533248 33.7020798 46.0142217L33.7020798 46.0142217Z"
                          id="Path" fill="#FFFFFF"/>
                    <path d="M10.8342651 58.7105207C10.8342651 54.8063787 13.4656577 51.1564344 17.7007639 49.1871208L19.9814561 48.1280074 19.9814561 12.2312714C19.9814561 10.20814 22.0335581 8.56199448 24.5548888 8.56199448 27.0762195 8.56199448 29.1283215 10.2084013 29.1283215 12.2312714L29.1283215 48.1277461 31.4090138 49.1894721C35.6441199 51.1587857 38.2755125 54.8061175 38.2755125 58.712872 38.2755125 64.7820049 32.1195321 69.7186127 24.5548888 69.7186127 16.9902455 69.7186127 10.8342651 64.7796537 10.8342651 58.7105207Z"
                          id="Path" fill="#ED7161"/>
                </g>
                <g id="wind" transform="translate(142.000000, 158.000000)" stroke-width="3">
                    <path d="M2.92968883 45.2678017L22.4626681 45.2678017C26.2309934 45.2678017 29.2966365 48.229458 29.2966365 51.8699538 29.2966365 54.4698217 27.1070173 56.5847521 24.4156261 56.5847521 22.5857822 56.5847521 21.0970829 55.1465946 21.0970829 53.3784996 21.0970829 51.8159773 19.7853758 50.5492316 18.167394 50.5492316 16.5494122 50.5492316 15.2377052 51.8159773 15.2377052 53.3784996 15.2377052 58.2665333 19.354854 62.2432881 24.4155002 62.2432881 30.3376938 62.2432881 35.1557624 57.5900036 35.1557624 51.8699538 35.1557624 45.1093977 29.4616699 39.6093873 22.4625422 39.6093873L2.92968883 39.6093873C1.31170702 39.6092657 0 40.8760114 0 42.4385337 0 44.001056 1.31170702 45.2678017 2.92968883 45.2678017L2.92968883 45.2678017Z"
                          id="Shape" stroke="#FFFFFF" fill="#FFFFFF"/>
                    <path d="M2.92968883 32.0647131L46.3319594 32.0647131C56.3235918 32.0647131 64.4523989 24.2142938 64.4523989 14.564901 64.4523989 6.53383053 57.6864076 0 49.3701599 0 42.3936912 0 36.7181036 5.48092415 36.7181036 12.2177744 36.7181036 17.9194673 41.5211921 22.5582851 47.4250066 22.5582851 49.0429884 22.5582851 50.3546954 21.2915394 50.3546954 19.7290171 50.3546954 18.1664948 49.0429884 16.8997491 47.4250066 16.8997491 44.7519944 16.8997491 42.5773554 14.7992854 42.5773554 12.2177744 42.5773554 8.60086287 45.6246195 5.658536 49.370034 5.658536 54.4554793 5.658536 58.5930212 9.65401239 58.5930212 14.5650225 58.5930212 21.094355 53.0926636 26.4062987 46.3318335 26.4062987L2.92968883 26.4062987C1.31170702 26.4061771 0 27.6729228 0 29.2354451 0 30.7979674 1.31170702 32.0647131 2.92968883 32.0647131L2.92968883 32.0647131Z"
                          id="Shape" stroke="#AFDAF9" fill="#AFDAF9"/>
                </g>
                <g id="water" transform="translate(376.000000, 249.000000)">
                    <path d="M24.2747515 49.9007467C18.6938583 49.9007467 13.6490053 47.522317 9.97965405 44.4688027 6.31232555 41.4136041 4.04679443 37.2114429 4.04679443 32.5663284 4.07713636 29.4016547 4.36841894 27.8622657 6.22332254 25.0260175 8.10452249 22.1998746 11.7111671 18.233506 18.1375889 11.2119388 20.3768237 8.76474829 21.329561 7.88689121 24.2747515 4.62958467 27.2179191 7.88689121 28.1706553 8.76306406 30.4119128 11.2119388 36.8383346 18.233506 40.4449792 22.1998746 42.3261792 25.0260175 44.1810828 27.8622657 44.4723653 29.4016547 44.5027073 32.5663284 44.5027073 37.2114429 42.2371762 41.4136041 38.5698477 44.4688027 34.9004964 47.522317 29.8556446 49.9007467 24.2747515 49.9007467L24.2747509 51.0928909 24.2747509 52.7771238C37.665658 52.7737554 48.544253 43.7142663 48.5482986 32.5663284 48.5786405 29.2180733 48.0446224 26.5974068 45.8600032 23.388943 43.7016802 20.1703739 40.0566025 16.2056895 33.6281579 9.17064843 31.3869003 6.72345795 28.8240183 3.92089432 25.8889418 0.672008948 25.5086562 0.249266477 24.9099087 0 24.2747509 0 23.639593 0 23.0408455 0.249266477 22.6585371 0.672008948 19.7234607 3.92089432 17.1605786 6.72345795 14.9213438 9.17064843 8.49289925 16.2056895 4.8478215 20.1703739 2.68949855 23.388943 0.504879258 26.5974068-0.0291387914 29.2180733 0.00120314322 32.5663284 0.00524873451 43.7142663 10.8838437 52.7737554 24.2747509 52.7771238L24.2747509 51.0928909 24.2747515 49.9007467Z"
                          id="Shape" stroke="#AFDAF9" stroke-width="3" fill="#AFDAF9"/>
                    <path d="M36.370877 31.934741C36.370877 34.7238308 35.0135812 37.2400748 32.8107567 39.0758888 30.6059095 40.9100184 27.5838528 42.0401388 24.2341032 42.0401388 23.11752 42.0401388 22.2113076 42.7946751 22.2113076 43.7243717 22.2113076 44.6540683 23.11752 45.4086047 24.2341032 45.4086047 33.1627232 45.4052362 40.4124227 39.3689453 40.4164683 31.934741 40.4164683 31.0050444 39.5102559 30.2505081 38.3936727 30.2505081 37.2770895 30.2505081 36.370877 31.0050444 36.370877 31.934741L36.370877 31.934741 36.370877 31.934741Z"
                          id="Shape" fill="#4C5870"/>
                </g>
                <g id="calendar" transform="translate(21.000000, 143.000000)">
                    <path d="M46 4L46 8 39 8 39 4 15 4 15 8 8 8 8 4 0 4 0 15 54 15 54 4 46 4Z" id="Shape"
                          fill="#ED7161"/>
                    <path d="M8 15L0 15 0 58 54 58 54 15 46 15 39 15 15 15 8 15Z" id="Shape" fill="#EDEADA"/>
                    <path d="M37 22L35 22 28 22 26 22 19 22 17 22 8 22 8 31 8 33 8 40 8 42 8 51 17 51 19 51 26 51 28 51 35 51 37 51 46 51 46 42 46 40 46 33 46 31 46 22 37 22 37 22ZM28 24L35 24 35 31 28 31 28 24 28 24ZM35 40L28 40 28 33 35 33 35 40 35 40ZM19 33L26 33 26 40 19 40 19 33 19 33ZM19 24L26 24 26 31 19 31 19 24 19 24ZM10 24L17 24 17 31 10 31 10 24 10 24ZM10 33L17 33 17 40 10 40 10 33 10 33ZM17 49L10 49 10 42 17 42 17 49 17 49ZM26 49L19 49 19 42 26 42 26 49 26 49ZM35 49L28 49 28 42 35 42 35 49 35 49ZM44 49L37 49 37 42 44 42 44 49 44 49ZM44 40L37 40 37 33 44 33 44 40 44 40ZM37 31L37 24 44 24 44 31 37 31 37 31Z"
                          id="Shape" fill="#CEC9AE"/>
                    <rect id="Rectangle-path" fill="#28384C" x="8" y="0" width="7" height="8"/>
                    <rect id="Rectangle-path" fill="#28384C" x="39" y="0" width="7" height="8"/>
                    <rect id="Rectangle-path" fill="#26B99A" x="28" y="33" width="7" height="7"/>
                </g>
                <g id="CO2" transform="translate(277.000000, 302.000000)" fill="#FFFFFF">
                    <path d="M13.2250406 5.06097688C15.8462198 5.06097688 17.990821 6.06204923 19.6588441 8.06419392L23.1140349 4.50482557C20.3737112 1.61283878 17.0376649 0.166845392 12.9867516 0.166845392 9.41241627 0.166845392 6.31465902 1.279148 3.81262431 3.61498348 1.31058961 5.8395887 0.11914451 8.73157549 0.11914451 12.0684833 0.11914451 15.5166214 1.31058961 18.2973779 3.81262431 20.5219832 6.31465902 22.7465884 9.41241627 23.858891 13.1058961 23.858891 16.7993759 23.858891 20.1354221 22.4128976 22.9948904 19.5209108L19.5396996 16.184003C17.8716765 18.1861477 15.6079308 19.18722 12.9867516 19.18722 11.0804394 19.18722 9.29327176 18.5198385 7.98268215 17.2963056 6.55294803 15.9615425 5.95722549 14.2930885 5.95722549 12.1797136 5.95722549 10.0663386 6.67209254 8.39788471 8.10182666 7.06312157 9.41241627 5.61712818 11.1995839 5.06097688 13.2250406 5.06097688L13.2250406 5.06097688Z"
                          id="Shape"/>
                    <path d="M38.2453876 0.166845392C34.6710523 0.166845392 31.5732951 1.279148 29.0712604 3.50375322 26.5692257 5.72835844 25.3777806 8.62034523 25.3777806 11.9572531 25.3777806 15.2941609 26.5692257 18.1861477 29.0712604 20.4107529 31.5732951 22.6353581 34.5519078 23.7476607 38.2453876 23.7476607 41.9388674 23.7476607 44.9174802 22.6353581 47.4195149 20.4107529 49.9215496 18.1861477 51.1129947 15.2941609 51.1129947 11.9572531 51.1129947 8.62034523 49.9215496 5.72835844 47.4195149 3.50375322 44.9174802 1.279148 41.9388674 0.166845392 38.2453876 0.166845392L38.2453876 0.166845392ZM43.487746 17.1850753C42.0580119 18.6310687 40.3899888 19.2984503 38.3645321 19.2984503 36.3390755 19.2984503 34.5519078 18.6310687 33.2413182 17.1850753 31.8115841 15.7390819 31.096717 14.070628 31.096717 11.9572531 31.096717 9.95510836 31.8115841 8.17542418 33.2413182 6.72943079 34.6710523 5.2834374 36.3390755 4.61605583 38.3645321 4.61605583 40.3899888 4.61605583 42.1771564 5.2834374 43.487746 6.72943079 44.9174802 8.17542418 45.6323472 9.95510836 45.6323472 11.9572531 45.6323472 14.070628 44.9174802 15.7390819 43.487746 17.1850753L43.487746 17.1850753Z"
                          id="Shape"/>
                    <path d="M58.9765323 24.9711936L61.8360005 22.1904371C63.0274456 21.0781345 63.7423127 20.1882924 64.2188907 19.4096805 64.6954688 18.742299 64.8146133 17.9636872 64.8146133 17.1850753 64.8146133 15.7390819 64.3380352 14.6267793 63.2657347 13.8481675 62.1934341 13.0695557 61.001989 12.6246346 59.5722549 12.6246346 58.1425207 12.6246346 57.0702202 12.9583254 56.1170641 13.5144767 55.163908 14.070628 54.3298964 14.9604701 53.6150294 15.9615425L56.4744976 17.5187661C57.4276537 16.184003 58.3808098 15.5166214 59.3339658 15.5166214 59.9296884 15.5166214 60.2871219 15.7390819 60.6445554 16.0727727 61.001989 16.4064635 61.1211335 16.8513845 61.1211335 17.2963056 61.1211335 17.8524569 60.8828445 18.2973779 60.5254109 18.8535292 60.1679774 19.4096805 59.4531103 20.0770621 58.4999543 21.0781345L53.7341739 25.6385752 53.7341739 28.1968712 65.1720468 28.1968712 65.1720468 25.1936541 58.9765323 25.1936541 58.9765323 24.9711936 58.9765323 24.9711936Z"
                          id="Shape"/>
                </g>
                <g class="tag" id="css3" transform="translate(400.000000, 81.912570)">
                    <path d="M0.0291403651 0L80.4188717 0 72.3799574 68.3436817 42.9037422 75.4139142 37.5445642 75.4139142 8.06805463 68.3436817 0.0291403651 0 0.0291403651 0Z"
                          id="Shape" fill="#4990E2"/>
                    <path d="M40.224006 7.06790252L69.7002212 7.06790252 64.3410432 61.2734493 40.2243004 68.3436817C40.224006 68.3436817 40.224006 7.06790252 40.224006 7.06790252L40.224006 7.06790252Z"
                          id="Shape" fill="#88C5FC"/>
                    <path d="M42.7402102 30.2197564C42.4649893 30.3189369 42.3080777 30.5756116 42.3652664 30.8322864 42.4228126 31.0889612 42.6787323 31.2741191 42.9762925 31.2741191L58.0067489 31.2741191C58.8063192 31.2741191 59.568002 31.5727608 60.1027169 32.0956983 60.637253 32.6186358 60.894245 33.3166717 60.8093554 34.0158078L58.4608634 53.3918441C58.3455923 54.3424681 57.6192951 55.1500584 56.5938292 55.4674046L40.6401318 60.4044248C40.0392924 60.5905258 39.3843024 60.5919404 38.7820333 60.4083543L22.9028601 55.5706717C21.8711392 55.256312 21.1387656 54.446364 21.0227797 53.4914962L19.9581752 44.7164574C19.9022375 44.2557632 20.0714804 43.7958548 20.4235487 43.4514737 20.7757957 43.1069354 21.2776271 42.9101462 21.8044785 42.9101462L26.2232036 42.9101462C27.1727156 42.9101462 27.9690691 43.539966 28.0695068 44.3701901L28.7227097 49.7639752 39.717427 53.1252671 50.7625418 49.7333251 52.1134475 38.5468325 20.8842757 38.5468325C19.937623 38.5468325 19.1425206 37.9204706 19.0386872 37.0929185L18.4441029 32.3517444C18.3533157 31.6285597 18.8172595 30.9399546 19.5818017 30.6628465L39.5687362 23.415439C39.7955253 23.333234 39.9243788 23.121827 39.8768406 22.9102629 39.8291237 22.6988559 39.6184189 22.5465486 39.3734008 22.5465486L18.3299041 22.5465486C17.6963599 22.5465486 17.1650406 22.1257781 17.0989161 21.5718761L16.4902133 16.475947C16.4535767 16.169289 16.5667032 15.8632598 16.8013558 15.6339343 17.0360085 15.4047661 17.370384 15.2738352 17.7210225 15.2738352L61.7526125 15.2738352C62.1052169 15.2738352 62.4410222 15.4061807 62.6758535 15.6373923 62.9106848 15.8687611 63.0222029 16.177148 62.9823495 16.4852206L62.1093274 23.2489855C62.0785884 23.2689474 42.7402102 30.2197564 42.7402102 30.2197564Z"
                          id="Path" fill="#E5E5E5"/>
                    <path d="M40.3256898 60.5025556C40.3256715 58.306548 40.3256557 55.7507993 40.3256419 52.9696697L50.864088 49.7333251 52.2149937 38.5468325 40.3255911 38.5468325C40.3255697 29.9841569 40.3255601 21.3338224 40.3255558 15.2738086L61.8541587 15.2738352C62.2067631 15.2738352 62.5425684 15.4061807 62.7773997 15.6373923 63.012231 15.8687611 63.1237491 16.177148 63.0838957 16.4852206L62.2108736 23.2489855C62.1801346 23.2689474 42.8417564 30.2197564 42.8417564 30.2197564 42.5665355 30.3189369 42.4096238 30.5756116 42.4668126 30.8322864 42.5243588 31.0889612 42.7802785 31.2741191 43.0778387 31.2741191L58.1082951 31.2741191C58.9078654 31.2741191 59.6695482 31.5727608 60.2042631 32.0956983 60.7387992 32.6186358 60.9957912 33.3166717 60.9109016 34.0158078L58.5624096 53.3918441C58.4471385 54.3424681 57.7208413 55.1500584 56.6953754 55.4674046L40.741678 60.4044248C40.6053858 60.4466393 40.4663073 60.4793508 40.3256898 60.5025556Z"
                          id="Combined-Shape" fill="#FFFFFF"/>
                </g>
                <g class="tag" id="html5" transform="translate(316.000000, 81.912570)">
                    <path d="M80.4188717 0L72.3799574 68.7102762 42.9037422 75.8184332 37.5445642 75.8184332 8.06805463 68.7102762 0.0291403651 0 80.4188717 0Z"
                          id="Shape" fill="#ED7161"/>
                    <path d="M40.224006 7.10581464L69.7002212 7.10581464 64.3410432 61.6021191 40.2243004 68.7102762C40.224006 68.7102762 40.224006 7.10581464 40.224006 7.10581464L40.224006 7.10581464Z"
                          id="Shape" fill="#F9A18A"/>
                    <path d="M61.7095799 21.2914172L62.5534731 14.2139717 16.0213139 14.2139717 16.9591038 21.2914172 17.8168313 30.8164153 17.8059405 30.8164153 18.6180442 37.9055729 49.8117749 37.9055729 48.740057 49.183991 40.224006 51.5628331 40.224006 51.4894377 28.8998835 48.8427807 28.205813 42.6278607 18.749323 42.6278607 20.0194308 54.0436999 20.0194308 54.5103589 40.224006 59.2326467 57.1675094 54.5103589 57.3738468 54.5103589 57.379145 54.4463332 57.4165271 54.4416484 57.4165271 54.0673842 58.9494869 37.9055729 58.9842199 37.9055729 59.7989727 30.8164153 27.6509687 30.8164153 26.7935355 21.2914172 61.7095799 21.2914172Z"
                          id="Shape" fill="#FFFFFF"/>
                    <path d="M40.224006 14.2139717L16.0213139 14.2139717 16.9591038 21.2914172 17.8168313 30.8164153 17.8059405 30.8164153 18.6180442 37.9055729 40.224006 37.9055729 40.224006 30.8164153 27.6509687 30.8164153 26.7935355 21.2914172 40.224006 21.2914172 40.224006 14.2139717Z"
                          id="Shape" fill="#E5E5E5"/>
                    <path d="M40.224006 51.4894377L28.8998835 48.8427807 28.205813 42.6278607 18.749323 42.6278607 20.0194308 54.0436999 20.0194308 54.5103589 40.224006 59.2326467 40.224006 51.5628331 40.224006 51.4894377Z"
                          id="Shape" fill="#E5E5E5"/>
                </g>
                <g class="tag" id="js" transform="translate(358.000000, 0.912570)">
                    <path d="M0.0291403651 0L80.4188717 0 72.3799574 68.6475843 42.9037422 75.7492558 37.5445642 75.7492558 8.06805463 68.6475843 0.0291403651 0 0.0291403651 0Z"
                          id="Shape" fill="#D6BA32"/>
                    <path d="M69.7002212 7.09933124L64.3410432 61.5459128 40.2243004 68.6475843C40.224006 68.6475843 40.224006 7.09933124 40.224006 7.09933124L69.7002212 7.09933124Z"
                          id="Shape" fill="#FFDA3E"/>
                    <path d="M43.5633741 16.9019314L66.2281026 16.9019314 66.2281026 24.3339184 50.6865745 24.3339184 50.6865745 35.1960532 64.9329752 34.6243619 63.6378479 54.0618664 44.2109378 59.2070881 44.2109378 51.7751011 57.8097749 48.9166446 57.8097749 42.0563489 43.5633741 44.3431141 43.5633741 16.9019314Z"
                          id="S" fill="#FFFFFF"/>
                    <path d="M28.0825552 16.3818719L28.0825552 49.5878433 12.6569263 46.3837583 12.6569263 53.95705 35.6160018 59.2000981 35.6160018 39.101747 35.6160018 16.3818719 28.0825552 16.3818719Z"
                          id="Line" fill="#D8D8D8"/>
                </g>
                <g id="idea"
                   transform="translate(241.500000, 80.294118) scale(1, -1) translate(-241.500000, -80.294118) translate(209.000000, 46.000000)">
                    <path d="M32.5 11.6470588C21.2371569 11.6470588 12.1078431 20.9181176 12.1078431 32.3529412 12.1078431 41.5269412 17.9897059 49.2942353 26.127451 52.0131765L26.127451 64.7058824 28.6764706 64.7058824 28.6764706 68.5882353 36.3235294 68.5882353 36.3235294 64.7058824 38.872549 64.7058824 38.872549 52.0131765C47.0102941 49.2942353 52.8921569 41.5269412 52.8921569 32.3529412 52.8921569 20.9181176 43.7628431 11.6470588 32.5 11.6470588L32.5 11.6470588Z"
                          id="Shape" fill="#EFCE4A"/>
                    <g id="Group" fill="#EFCE4A">
                        <path d="M32.5 0C31.7951961 0 31.2254902 0.578470588 31.2254902 1.29411765L31.2254902 6.47058824C31.2254902 7.18623529 31.7951961 7.76470588 32.5 7.76470588 33.2048039 7.76470588 33.7745098 7.18623529 33.7745098 6.47058824L33.7745098 1.29411765C33.7745098 0.578470588 33.2048039 0 32.5 0L32.5 0Z"
                              id="Shape"/>
                        <path d="M63.0882353 31.0588235L57.9901961 31.0588235C57.2853922 31.0588235 56.7156863 31.6372941 56.7156863 32.3529412 56.7156863 33.0685882 57.2853922 33.6470588 57.9901961 33.6470588L63.0882353 33.6470588C63.7930392 33.6470588 64.3627451 33.0685882 64.3627451 32.3529412 64.3627451 31.6372941 63.7930392 31.0588235 63.0882353 31.0588235L63.0882353 31.0588235Z"
                              id="Shape"/>
                        <path d="M7.00980392 31.0588235L1.91176471 31.0588235C1.20696078 31.0588235 0.637254902 31.6372941 0.637254902 32.3529412 0.637254902 33.0685882 1.20696078 33.6470588 1.91176471 33.6470588L7.00980392 33.6470588C7.71460784 33.6470588 8.28431373 33.0685882 8.28431373 32.3529412 8.28431373 31.6372941 7.71460784 31.0588235 7.00980392 31.0588235L7.00980392 31.0588235Z"
                              id="Shape"/>
                        <path d="M53.2286275 9.47552941L49.6243137 13.1352941C49.1259804 13.6412941 49.1259804 14.4591765 49.6243137 14.9651765 49.8728431 15.2175294 50.1991176 15.3443529 50.5253922 15.3443529 50.8516667 15.3443529 51.1779412 15.2175294 51.4264706 14.9651765L55.0307843 11.3054118C55.5291176 10.7994118 55.5291176 9.98152941 55.0307843 9.47552941 54.532451 8.96952941 53.7256863 8.97082353 53.2286275 9.47552941L53.2286275 9.47552941Z"
                              id="Shape"/>
                        <path d="M13.5735294 49.7407059L9.96921569 53.4004706C9.47088235 53.9064706 9.47088235 54.7243529 9.96921569 55.2303529 10.2177451 55.4827059 10.5440196 55.6095294 10.8702941 55.6095294 11.1965686 55.6095294 11.5228431 55.4827059 11.7713725 55.2303529L15.3756863 51.5705882C15.8740196 51.0645882 15.8740196 50.2467059 15.3756863 49.7407059 14.8773529 49.2347059 14.0718627 49.2347059 13.5735294 49.7407059L13.5735294 49.7407059Z"
                              id="Shape"/>
                        <path d="M51.4264706 49.7407059C50.9281373 49.2347059 50.1226471 49.2347059 49.6243137 49.7407059 49.1259804 50.2467059 49.1259804 51.0645882 49.6243137 51.5705882L53.2286275 55.2303529C53.4771569 55.4827059 53.8034314 55.6095294 54.1297059 55.6095294 54.4559804 55.6095294 54.7822549 55.4827059 55.0307843 55.2303529 55.5291176 54.7243529 55.5291176 53.9064706 55.0307843 53.4004706L51.4264706 49.7407059 51.4264706 49.7407059Z"
                              id="Shape"/>
                        <path d="M11.7713725 9.47552941C11.2730392 8.96952941 10.467549 8.96952941 9.96921569 9.47552941 9.47088235 9.98152941 9.47088235 10.7994118 9.96921569 11.3054118L13.5735294 14.9651765C13.8220588 15.2175294 14.1483333 15.3443529 14.4746078 15.3443529 14.8008824 15.3443529 15.1271569 15.2175294 15.3756863 14.9651765 15.8740196 14.4591765 15.8740196 13.6412941 15.3756863 13.1352941L11.7713725 9.47552941 11.7713725 9.47552941Z"
                              id="Shape"/>
                    </g>
                    <path d="M18.4803922 33.6470588C17.7755882 33.6470588 17.2058824 33.0685882 17.2058824 32.3529412 17.2058824 23.7897647 24.0665686 16.8235294 32.5 16.8235294 33.2048039 16.8235294 33.7745098 17.402 33.7745098 18.1176471 33.7745098 18.8332941 33.2048039 19.4117647 32.5 19.4117647 25.4723529 19.4117647 19.754902 25.2171765 19.754902 32.3529412 19.754902 33.0685882 19.1851961 33.6470588 18.4803922 33.6470588L18.4803922 33.6470588Z"
                          id="Shape" fill="#F7E6A1"/>
                    <path d="M26.127451 55.6470588L26.127451 64.7058824 28.6764706 64.7058824 28.6764706 68.5882353 36.3235294 68.5882353 36.3235294 64.7058824 38.872549 64.7058824 38.872549 55.6470588 26.127451 55.6470588Z"
                          id="Shape" fill="#556080"/>
                </g>
                <g id="sensor" transform="translate(358.000000, 311.000000)">
                    <path d="M67.9330996 22.5984071L21.6912363 22.5984071C20.0237324 22.5984071 18.6718848 23.9446018 18.6718848 25.6051327L18.6718848 29.460708 70.9526289 29.460708 70.9526289 25.6051327C70.9524512 23.9444248 69.6006035 22.5984071 67.9330996 22.5984071L67.9330996 22.5984071Z"
                          id="Shape" fill="#F2F2F2"/>
                    <path d="M28.531166 22.5984071L21.6912363 22.5984071C20.0237324 22.5984071 18.6718848 23.9446018 18.6718848 25.6051327L18.6718848 29.1670796 28.531166 29.1670796 28.531166 22.5984071 28.531166 22.5984071Z"
                          id="Shape" fill="#E6E6E6"/>
                    <path d="M72.6898047 28.0787611L16.9345312 28.0787611C15.3670918 28.0787611 13.9292207 28.9444248 13.2008652 30.3265487L9.43414062 37.4732743 80.1900176 37.4732743 76.4234707 30.3265487C75.695293 28.9444248 74.2572441 28.0787611 72.6898047 28.0787611L72.6898047 28.0787611Z"
                          id="Shape" fill="#CCCCCC"/>
                    <path d="M13.2006875 30.3263717L9.43414062 37.4732743 20.4406973 37.4732743 25.3918437 28.0785841 16.9345312 28.0785841C15.3672695 28.0787611 13.929043 28.9444248 13.2006875 30.3263717L13.2006875 30.3263717Z"
                          id="Shape" fill="#B3B3B3"/>
                    <path d="M88.1500293 38.9412389L1.47412891 38.9412389C0.660105469 38.9412389 0 38.2840708 0 37.4732743 0 36.6624779 0.659927734 36.0053097 1.47412891 36.0053097L88.150207 36.0053097C88.9644082 36.0053097 89.6243359 36.6624779 89.6243359 37.4732743 89.6243359 38.2840708 88.9644082 38.9412389 88.1500293 38.9412389L88.1500293 38.9412389Z"
                          id="Shape" fill="#666666"/>
                    <g id="Group" transform="translate(70.205078, 0.946903)" fill="#666666">
                        <path class="wave1" d="M8.01955273 20.6729204L5.07147266 20.6729204C5.07147266 17.9748673 2.86721094 15.779823 0.157828125 15.779823L0.157828125 12.8440708C4.49276953 12.8440708 8.01955273 16.3561062 8.01955273 20.6729204L8.01955273 20.6729204Z"
                              id="Shape"/>
                        <path class="wave3"  d="M20.7949219 20.6729204L17.8468418 20.6729204C17.8468418 10.96 9.91153516 3.05787611 0.157828125 3.05787611L0.157828125 0.122123894C11.5372715 0.122123894 20.7949219 9.34123894 20.7949219 20.6729204L20.7949219 20.6729204Z"
                              id="Shape"/>
                        <path class="wave2"  d="M14.4071484 20.6729204L11.4590684 20.6729204C11.4590684 14.4674336 6.38937305 9.41893805 0.157828125 9.41893805L0.157828125 6.48318584C8.01493164 6.48300885 14.4071484 12.8484956 14.4071484 20.6729204L14.4071484 20.6729204Z"
                              id="Shape"/>
                    </g>
                </g>
            </g>
        </g>
    </svg>

</div>
<script>





    TweenMax.staggerFrom(".tag", 2, {opacity:0, y: 200, ease:Back.easeOut}, 0.6);
    var tl = new TimelineLite();

    wave();
    function wave(){
        var immediateRender = true;
        tl.from(".wave1", 1, {opacity:0, immediateRender:immediateRender})
            .from(".wave2", 1, {opacity:0, immediateRender:immediateRender})
            .from(".wave3", 1, {opacity:0, immediateRender:immediateRender,onComplete:function(){wave()}});
    }



</script>
</body>
</html>